body {
	top: 0;
	margin: 0;
	background-color: beige;
	text-align: center;
	justify-content: center;
	display: flex;
}

img {
	width: 100%;
	height: auto;
	align-content: center;
}

.container {
	height: 100vh;
}

.pl1,
.pl2 {
	/* background: rgb(1, 0, 23);
	width: 100%;
	height: 25%; */
	width: 100%;
	box-shadow: inset 100px 20px 0 0 linear-gradient(180deg,
			rgba(2, 0, 36, 1) 0%,
			rgba(43, 103, 39, 1) 18%,
			rgba(32, 215, 37, 1) 72%);
	transition: all 2s ease;

}

.pl {
	box-shadow: inset 0 0 0 0 white;
	height: 25%;
}

.sbox {
	/* border: 2px solid black; */
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 75%;
}

.box {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
	background-color: white;
	color: black;
	border: 2px solid black;
	max-height: 200px;
	display: flex;
	/* font-size: 60px; */
	/* width: 200px; */
}

/* .mensajes {
	font-size: 40px;
} */


.mensajes {
	animation: coolEntry 1s ease-in;
}

#imgCentral {
	height: 35px;
	width: 35px;
}

@keyframes coolEntry {
	0% {
		transform: skewY(90deg);
	}

	100% {
		transform: skewY(0deg);
	}
}



.reset button {
	border-radius: 5px;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
	background-image: linear-gradient(to left, #743ad5, #d53a9d);
	color: white;
	justify-content: center;
	margin-top: 15px;
	position: absolut;
}

.tapa {
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
	background-color: white;
	color: white;
}

.acertada {
	background-color: green;
}

.turno {
	background-color: green;
	display: block;
}

.player1,
.player2 {
	overflow: hidden;
	width: 100%;
	border-radius: 10px;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
	display: block;
}

#cajaInfo {
	border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
	overflow: hidden;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#titulo,
#ply1,
#ply2,
#pts1,
#pts2 {
	padding: 0 5px;
	/* color: beige; */
	font-size: 25px;
	text-align: center;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
		0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
		0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
		0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
		0 20px 20px rgba(0, 0, 0, 0.15);
}

.mensajes {
	text-align: center;
}

.box:hover {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.main {
	display: flex;
	justify-content: center;
	align-content: center;
	min-width: 200px;
}

.wrapper {
	width: 90%;
	display: grid;
	justify-content: center;
	grid-gap: 2%;
	grid-template-columns: repeat(2, 44%);
	margin-bottom: 2em;
	/* height: 100vh; */
}

.box {
	background-color: #444;
	min-height: 100px;
	color: #fff;
	border-radius: 5px;
	/* margin: auto; */
	font-size: 150%;
	min-width: 120px;
}

/* header */

.wrapperT {
	/* background-color: red; */
	width: auto;
	display: grid;
	justify-content: center;
	grid-gap: 2%;

	grid-template-areas:
		"info       info"
		"player1    player2";
	margin-bottom: 5px;
	max-height: 350px;
}

.player1,
.player2 {
	border: 1px solid black;
	width: 200px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.player1 {
	grid-area: player1;
}

.player2 {
	grid-area: player2;
}

.info {
	grid-area: info;
	border-radius: 10px;
	border: 5px solid;
	border-image-slice: 1;
	border-width: 5px;
}

.reset {
	display: flex;
	justify-content: center;
	padding-bottom: 5px;
}

.reset button:hover {
	box-shadow: 3px 3px 20px rgba(255, 0, 0, 0.5);
}

@media only screen and (min-width: 578px) {
	.wrapper {
		grid-template-columns: repeat(5, 18%);
		height: auto;
	}

	.box {
		min-width: 80px;
		height: 150px;
	}

	.wrapperT {
		/* max-height: auto; */
		width: 100%;
		justify-content: space-around;
		grid-template-areas: "player1    info    player2";
	}

	.info {
		justify-items: center;
	}

	#titulo {
		font-size: 30px;
	}
}